@import '../index.scss';

.card {
    width: 100%;
    max-width: 600px;
    
    &__media {
        height: auto;
        aspect-ratio: 4/3;
        position: relative;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
        margin-block: $spacing-sm;

        &-title, &-body {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}