@import '../index.scss';

.post-list {
    margin-block-start: $spacing-lg;
    display: grid;
    grid-gap: $spacing-lg;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    @include media-lg-up {
        row-gap: calc($spacing-lg * 2);
    }
}