@import '../index.scss';

.card {
    width: 100%;
    max-width: 600px;
    
    &__media {
        height: auto;
        aspect-ratio: 4/3;
        position: relative;

        img {
            transition: transform 0.3s ease-in-out;
            
            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
        margin-block: $spacing-sm;

        &-title, &-body {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &__button {
        a {
            text-decoration: none;
        }
    }
}