.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0;

    @media screen and (min-width: 1200px) {
        gap: 5rem;
    }

    &__title {
        h1 {
            font-size: 40px;

            @media  screen and (min-width: 1200px) {
                font-size: 48px;
            }
        }

    }

    &__media {
        position: relative;
        height: 350px;
        width: 100%;

        @media screen and (min-width: 1200px) {
            height: 600px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-subtitle {
            margin-block: 1.5rem;
            font-size: 32px;

            @media screen and (min-width: 1200px) {
                font-size: 40px;
            }
        }
    }
 
}