@import '../index.scss';

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc($spacing-md * 2);
    padding: $spacing-lg 0;

    @extend .animate-fade-in;
    animation: fadeIn 1s ease-out forwards;

    @include media-lg-up {
        gap: $spacing-xl;
    }

    &__title {
        h1 {
            font-size: $font-size-lg;

            @include media-lg-up {
                font-size: $font-size-xl;
            }
        }
    }

    &__media {
        position: relative;
        height: 350px;
        width: 100%;

        @include media-lg-up {
            height: 600px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;

        &-subtitle {
            margin-block: $spacing-md;
            font-size: $font-size-md;

            @include media-lg-up {
                font-size: $font-size-lg;
            }
        }
    }
}
