.page-content {
    margin: $spacing-md;
  
    @include media-md-up {
      margin: $spacing-md $spacing-xl;
    }
  }
  
  .page-content--thin {
    width: 100%;
  
    @include media-md-up {
      width: 768px;
    }
  }
  
  .info-section {
    font-size: $font-size-sm;
    display: flex;
    justify-content: space-between;
    margin-block-start: $spacing-sm;
  
    &__badge {
      margin-inline-end: $spacing-xs;
      padding: calc($spacing-xs / 2);
  
      &:first-child {
          background: $bg-gray;
      }
    }
  }
  