.page-content {
    margin: $spacing-md;

    @include media-md-up {
        margin: $spacing-md $spacing-xl;
    }
}

.page-content--thin {
    width: 100%;

    @include media-md-up {
        width: 768px;
    }
}

.animate-fade-in {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
