$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

$spacing-xs: .5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 5rem; 

$font-size-sm: 14px;
$font-size-normal: 16px;
$font-size-md: 32px;
$font-size-lg: 40px;
$font-size-xl: 48px;

$bg-gray: #F4F4F4;